__pycache__/
tests/__pycache__
model-training/.pytest_cache

*.py[cod]
*.so

.ipynb_checkpoints/

venv/
.env/

.vscode/

.dvc/
.dvcignore

*.egg-info/
dist/
build/

*.log
*.tmp
*.swp




.DS_Store
Thumbs.db

htmlcov/
.coverage
coverage.xml
pytest_cache/

pylint-report.txt
/models
