__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/

venv/
.env/

.vscode/

*.dvc
.dvc/
.dvcignore

*.egg-info/
dist/
build/

*.log
*.tmp
*.swp

.DS_Store
Thumbs.db

htmlcov/
.coverage
coverage.xml
pytest_cache/

pylint-report.txt

coverage.json
